In [1]:
# importing libraries
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import psycopg2
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler
import numpy as np

In [2]:
# creating an engine to connect to postgres
# need to add .gitignore for password
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/Avocados')

In [3]:
# reflecting Database into ORM classes
Base = automap_base()
Base.prepare(autoload_with=engine)
Base.classes.keys()

['region', 'market', 'avocados', 'type']

In [4]:
# creating a session
session = Session(engine)

In [5]:
# creating our classes for each table in our 'Avocado' Database
avocados = Base.classes.avocados
market = Base.classes.market
type = Base.classes.type
region = Base.classes.region

In [6]:
# we used the 'read_sql' and 'join' function to merge all of our tables into one and created a pandas DataFrame
avocado_df = pd.read_sql(session.query(avocados, region, type, market)
                         .join(region, region.index == avocados.region_)
                         .join(market, market.index == avocados.market_)
                         .join(type, type.index == avocados.type_).statement, session.bind)
avocado_df.head(10)

,index,date,averageprice,totalvolume,plu4046,plu4225,plu4770,totalbags,smallbags,largebags,xlargebags,type_,region_,market_,index_1,region,index_2,type,index_3,market
0,0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,0,0,0,0,Albany,0,conventional,0,northeast
1,1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,1,0,0,0,Albany,1,organic,0,northeast
2,2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,0,1,1,1,Atlanta,0,conventional,1,southeast
3,3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,1,1,1,1,Atlanta,1,organic,1,southeast
4,4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,0,2,2,2,BaltimoreWashington,0,conventional,2,midsouth
5,5,2015-01-04,1.29,19137.28,8040.64,6557.47,657.48,3881.69,3881.69,0.00,0.0,1,2,2,2,BaltimoreWashington,1,organic,2,midsouth
6,6,2015-01-04,1.01,80034.32,44562.12,24964.23,2752.35,7755.62,6064.30,1691.32,0.0,0,3,3,3,Boise,0,conventional,3,west
7,7,2015-01-04,1.64,1505.12,1.27,1129.50,0.00,374.35,186.67,187.68,0.0,1,3,3,3,Boise,1,organic,3,west
8,8,2015-01-04,1.02,491738.00,7193.87,396752.18,128.82,87663.13,87406.84,256.29,0.0,0,4,0,4,Boston,0,conventional,0,northeast
9,9,2015-01-04,1.83,2192.13,8.66,939.43,0.00,1244.04,1244.04,0.00,0.0,1,4,0,4,Boston,1,organic,0,northeast

In [7]:
#
avocado_df = avocado_df.drop(columns=['type_', 'region_', 'market_', 'index_1', 'index_2', 'index_3'])
avocado_df.head(10)

,index,date,averageprice,totalvolume,plu4046,plu4225,plu4770,totalbags,smallbags,largebags,xlargebags,region,type,market
0,0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,Albany,conventional,northeast
1,1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,Albany,organic,northeast
2,2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,Atlanta,conventional,southeast
3,3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,Atlanta,organic,southeast
4,4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,BaltimoreWashington,conventional,midsouth
5,5,2015-01-04,1.29,19137.28,8040.64,6557.47,657.48,3881.69,3881.69,0.00,0.0,BaltimoreWashington,organic,midsouth
6,6,2015-01-04,1.01,80034.32,44562.12,24964.23,2752.35,7755.62,6064.30,1691.32,0.0,Boise,conventional,west
7,7,2015-01-04,1.64,1505.12,1.27,1129.50,0.00,374.35,186.67,187.68,0.0,Boise,organic,west
8,8,2015-01-04,1.02,491738.00,7193.87,396752.18,128.82,87663.13,87406.84,256.29,0.0,Boston,conventional,northeast
9,9,2015-01-04,1.83,2192.13,8.66,939.43,0.00,1244.04,1244.04,0.00,0.0,Boston,organic,northeast

In [8]:
avocado_df['date'] = pd.to_datetime(avocado_df['date'])
avocado_df.dtypes

index                    int64
date            datetime64[ns]
averageprice           float64
totalvolume            float64
plu4046                float64
plu4225                float64
plu4770                float64
totalbags              float64
smallbags              float64
largebags              float64
xlargebags             float64
region                  object
type                    object
market                  object
dtype: object

In [9]:
y = avocado_df['averageprice']
X = avocado_df.drop(columns=['index', 'date', 'averageprice', 'totalvolume', 'smallbags', 'largebags', 'xlargebags'])

In [10]:
model = LinearRegression()

In [11]:
X = pd.get_dummies(X)
X

,plu4046,plu4225,plu4770,totalbags,region_Albany,region_Atlanta,region_BaltimoreWashington,region_BirminghamMontgomery,region_Boise,region_Boston,...,type_conventional,type_organic,market_california,market_great_lakes,market_midsouth,market_northeast,market_plains,market_south_central,market_southeast,market_west
0,2819.50,28287.42,49.90,9716.46,True,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
1,57.42,153.88,0.00,1162.65,True,False,False,False,False,False,...,False,True,False,False,False,True,False,False,False,False
2,364302.39,23821.16,82.15,46815.79,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
3,1500.15,938.35,0.00,1408.19,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,53987.31,552906.04,39995.03,141136.68,False,False,True,False,False,False,...,True,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45022,154.75,194.69,0.00,4475.54,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,False,False
45023,222.70,91.35,0.00,24206.50,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
45024,204.64,1211.25,0.00,4278.03,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
45025,15182.42,1211.38,0.00,18075.66,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
45026,1058.54,7.46,0.00,1779.19,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False

In [12]:
#
X= X.rename(str,axis="columns")

In [13]:
# Split the dataset using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
# Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)

In [15]:
model.fit(X, y)

LinearRegression()

In [16]:
print(f"Model's slope: {model.coef_}")
print(f"Model's y-intercept: {model.intercept_}")
print(f"Model's formula: y = {model.intercept_} + {model.coef_[0]}X")

Model's slope: [-3.79732873e-08 -1.23311082e-07  4.18597034e-07 -2.38510545e-07
 -5.89134567e-02  4.53896062e-02  1.58386452e-01 -1.05865349e-01
  7.51006462e-02  9.22150005e-02 -8.01518637e-02  8.85045058e-02
  1.51063519e-01 -2.59519083e-03 -3.90994974e-02 -5.99043933e-02
 -8.62162788e-02 -6.95257631e-02  4.78121265e-02 -1.34804383e-01
  2.00960654e-01 -6.27317373e-02 -4.82607488e-02  3.03572885e-02
 -7.01389891e-02 -7.52683236e-02 -1.19378481e-02  2.25571019e-02
 -4.04531225e-02 -6.63739649e-02 -5.25686048e-02  2.01662099e-01
 -4.72752705e-03 -1.04247668e-02 -1.66708164e-02  5.19950521e-03
 -2.21391716e-01 -1.64318261e-01  1.20743768e-01  1.64346511e-01
  4.11406774e-02 -1.10928957e-01 -1.05866284e-01  4.06381015e-02
 -2.20075894e-02  2.03217152e-01  2.57934658e-01  5.46419971e-02
  1.79810082e-01  1.23191093e-01 -9.61825332e-02 -8.07847225e-02
 -4.19344881e-02 -2.31774112e-01 -1.33051259e-01 -2.40526820e-01
  2.40526820e-01  1.46579340e-01 -1.92108591e-02 -7.07541834e-03
  1.25285746e-01 -9.86016603e-03 -1.75204735e-01 -8.45819668e-02
  2.40680596e-02]
Model's y-intercept: 1.4423831790403125
Model's formula: y = 1.4423831790403125 + -3.79732873339256e-08X

In [17]:
# Display the formula to predict the salary for a person with 7 years of experience
print(f"Model's formula: y = {model.intercept_} + {model.coef_[0]} * 7")

# Predict the salary for a person with 7 years of experience
y_7 = model.intercept_ + model.coef_[0] * 7

# Display the prediction
print(f"Predicted avocado price in 7 years: ${y_7:.2f}")

Model's formula: y = 1.4423831790403125 + -3.79732873339256e-08 * 7
Predicted avocado price in 7 years: $1.44

In [18]:
predicted_y_values = model.predict(X)

In [19]:
# Create a copy of the original data
avocado_df_predicted = avocado_df.copy()

# Add a column with the predicted salary values
avocado_df_predicted["price_predicted"] = predicted_y_values

# Display sample data
avocado_df_predicted.head()

,index,date,averageprice,totalvolume,plu4046,plu4225,plu4770,totalbags,smallbags,largebags,xlargebags,region,type,market,price_predicted
0,0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,Albany,conventional,northeast,1.262337
1,1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,Albany,organic,northeast,1.748984
2,2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,Atlanta,conventional,southeast,1.134761
3,3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,Atlanta,organic,southeast,1.643209
4,4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,BaltimoreWashington,conventional,midsouth,1.266017

In [20]:
from sklearn.metrics import mean_squared_error, r2_score
score = model.score(X, y, sample_weight=None)
r2 = r2_score(y, predicted_y_values)
mse = mean_squared_error(y, predicted_y_values)
rmse = np.sqrt(mse)
std = np.std(y)

# Print relevant metrics.
print(f"The score is {score}.")
print(f"The r2 is {r2}.")
print(f"The mean squared error is {mse}.")
print(f"The root mean squared error is {rmse}.")
print(f"The standard deviation is {std}.")

The score is 0.5694327794429968.
The r2 is 0.5694327794429968.
The mean squared error is 0.0694643604177168.
The root mean squared error is 0.2635609235408709.
The standard deviation is 0.4016618080876655.

In [ ]:
model.save(Avocado_Regress_Model

In [ ]:
session.close()