In [59]:
# importing libraries
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import psycopg2
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler
import numpy as np
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [3]:
# creating an engine to connect to postgres
# need to add .gitignore for password
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/Avocados')

In [4]:
# reflecting Database into ORM classes
Base = automap_base()
Base.prepare(autoload_with=engine)
Base.classes.keys()

['avocados', 'market', 'type', 'region']

In [5]:
# creating a session
session = Session(engine)

In [6]:
# creating our classes for each table in our 'Avocado' Database
avocados = Base.classes.avocados
market = Base.classes.market
type = Base.classes.type
region = Base.classes.region

In [7]:
# we used the 'read_sql' and 'join' function to merge all of our tables into one and created a pandas DataFrame
avocado_df = pd.read_sql(session.query(avocados, region, type, market)
                         .join(region, region.index == avocados.region_)
                         .join(market, market.index == avocados.market_)
                         .join(type, type.index == avocados.type_).statement, session.bind)
avocado_df.head(10)

,index,date,averageprice,totalvolume,plu4046,plu4225,plu4770,totalbags,smallbags,largebags,xlargebags,type_,region_,market_,index_1,region,index_2,type,index_3,market
0,0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,0,0,0,0,Albany,0,conventional,0,northeast
1,1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,1,0,0,0,Albany,1,organic,0,northeast
2,2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,0,1,1,1,Atlanta,0,conventional,1,southeast
3,3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,1,1,1,1,Atlanta,1,organic,1,southeast
4,4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,0,2,2,2,BaltimoreWashington,0,conventional,2,midsouth
5,5,2015-01-04,1.29,19137.28,8040.64,6557.47,657.48,3881.69,3881.69,0.00,0.0,1,2,2,2,BaltimoreWashington,1,organic,2,midsouth
6,6,2015-01-04,1.01,80034.32,44562.12,24964.23,2752.35,7755.62,6064.30,1691.32,0.0,0,3,3,3,Boise,0,conventional,3,west
7,7,2015-01-04,1.64,1505.12,1.27,1129.50,0.00,374.35,186.67,187.68,0.0,1,3,3,3,Boise,1,organic,3,west
8,8,2015-01-04,1.02,491738.00,7193.87,396752.18,128.82,87663.13,87406.84,256.29,0.0,0,4,0,4,Boston,0,conventional,0,northeast
9,9,2015-01-04,1.83,2192.13,8.66,939.43,0.00,1244.04,1244.04,0.00,0.0,1,4,0,4,Boston,1,organic,0,northeast

In [8]:
#
avocado_df = avocado_df.drop(columns=['type_', 'region_', 'market_', 'index_1', 'index_2', 'index_3'])
avocado_df.head(10)

,index,date,averageprice,totalvolume,plu4046,plu4225,plu4770,totalbags,smallbags,largebags,xlargebags,region,type,market
0,0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,Albany,conventional,northeast
1,1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,Albany,organic,northeast
2,2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,Atlanta,conventional,southeast
3,3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,Atlanta,organic,southeast
4,4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,BaltimoreWashington,conventional,midsouth
5,5,2015-01-04,1.29,19137.28,8040.64,6557.47,657.48,3881.69,3881.69,0.00,0.0,BaltimoreWashington,organic,midsouth
6,6,2015-01-04,1.01,80034.32,44562.12,24964.23,2752.35,7755.62,6064.30,1691.32,0.0,Boise,conventional,west
7,7,2015-01-04,1.64,1505.12,1.27,1129.50,0.00,374.35,186.67,187.68,0.0,Boise,organic,west
8,8,2015-01-04,1.02,491738.00,7193.87,396752.18,128.82,87663.13,87406.84,256.29,0.0,Boston,conventional,northeast
9,9,2015-01-04,1.83,2192.13,8.66,939.43,0.00,1244.04,1244.04,0.00,0.0,Boston,organic,northeast

In [9]:
avocado_df['date'] = pd.to_datetime(avocado_df['date'])
avocado_df.dtypes

index                    int64
date            datetime64[ns]
averageprice           float64
totalvolume            float64
plu4046                float64
plu4225                float64
plu4770                float64
totalbags              float64
smallbags              float64
largebags              float64
xlargebags             float64
region                  object
type                    object
market                  object
dtype: object

In [69]:
y = avocado_df['averageprice'].values
X = avocado_df.drop(columns=['index', 'date', 'averageprice', 'totalvolume', 'smallbags', 'largebags', 'xlargebags']).values

In [11]:
model = LinearRegression()

In [12]:
X = pd.get_dummies(X)
X

,plu4046,plu4225,plu4770,totalbags,region_Albany,region_Atlanta,region_BaltimoreWashington,region_BirminghamMontgomery,region_Boise,region_Boston,...,type_conventional,type_organic,market_california,market_great_lakes,market_midsouth,market_northeast,market_plains,market_south_central,market_southeast,market_west
0,2819.50,28287.42,49.90,9716.46,True,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
1,57.42,153.88,0.00,1162.65,True,False,False,False,False,False,...,False,True,False,False,False,True,False,False,False,False
2,364302.39,23821.16,82.15,46815.79,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
3,1500.15,938.35,0.00,1408.19,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,53987.31,552906.04,39995.03,141136.68,False,False,True,False,False,False,...,True,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45022,154.75,194.69,0.00,4475.54,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,False,False
45023,222.70,91.35,0.00,24206.50,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
45024,204.64,1211.25,0.00,4278.03,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
45025,15182.42,1211.38,0.00,18075.66,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
45026,1058.54,7.46,0.00,1779.19,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False

In [13]:
#
X= X.rename(str,axis="columns")

In [32]:
# Split the dataset using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [33]:
# Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)

In [34]:
model.fit(X_train_scaled, y_train)

LinearRegression()

In [48]:
y_pred = model.predict(X_test_scaled)

In [63]:
# run evaluation metrics to test perfofmance of the model
mae = mean_absolute_error(y_test, y_pred) 
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)
  
print("The mean absolute value is:",mae) 
print("The mean square error is:",mse) 
print("The root mean square error is:",rmse)
print("The R squared is:", r2)

The mean absolute value is: 0.20123314519334465
The mean square error is: 0.07011110633803766
The root mean square error is: 0.264785019096696
The R squared is: 0.5620581191081682

In [67]:
session.close()